[submodule "ffmpeg"]
	path = ffmpeg
	url = git://git.1f0.de/ffmpeg.git
[submodule "libbluray"]
	path = libbluray
	url = git://git.1f0.de/libbluray.git
[submodule "qsdecoder"]
	path = qsdecoder
	url = git://git.1f0.de/qsdecoder.git
[submodule "libde265"]
	path = libde265
	url = git@github.com:strukturag/libde265.git
